<div class="message <%= message.conversation.food_cart.phone_number == message.from_number ? 'pull-left' : 'pull-right' %>" >
  <p> <%= message.from_number %> </p>
  <p> <%= message.content %> </p>
</div>
