<%= javascript_pack_tag 'hello-world-bundle' %>


<div class="messages">
  <% if @conversation %>
    <% @conversation.messages.each do |message| %>
      <%= react_component("Messages", props: @conversation_props, prerender: false ) %>
    <% end %>
  <% end %>
</div>
