<% if @conversation %>
  <div id="messages">
    <%= render @messages %>
  </div>
<% else %>
<div class="default-message">
  <h3> Please click on a conversation to see messages </h3>
</div>
<% end %>
