<% if @conversation %>
  <div class="row messages-container">
    <div id="messages">
      <%= render @messages %>
    </div>
  </div>
  <div class="row reply-container">
    <%= render :template => 'messages/new' %>
  </div>
<% end %>
