

<div class="portal">
  <div class="row conversations-container">
    <!-- Conversations -->
    <div class="col-sm-4">
      <%= render 'conversations' %>
    </div>
    <!-- Messages -->
    <div class="col-sm-8 messages-container">
      <%= render 'messages' %>
    </div>
  </div>
  <!-- Reply  -->
  <div class="row reply-container">
    <div class="col-sm-12">

    </div>
  </div>
</div>
