<div class="home-intro-section">
  <h1>TextaCart</h1>
  <br>
  <h3>Allow your customers to text in their orders!</h3>
  <div class="signup-links">
    <%= link_to "Sign In", new_user_session_path, class: "btn btn-outline-primary" %>
    <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-outline-primary" %>
  </div>
</div>
