@import "bootstrap";

// bootstrap overrides
.btn-outline-primary {
  padding: 1em 3em;
}
.navbar-brand {
  font-family: "Passion One";
  font-size: 2em;
}


.food-cart-tile {
  border: 1px solid black;
  padding: 1em;
  margin-bottom: 1em;
}

.conversations {
  height: 100%;
  border: 1px solid black;
  overflow: scroll;
  ul {
    list-style: none;
  }
}

.conversation-tile {
  border: 1px solid black;
  padding: 1em;
  height: 25%;
}

.default-message {
  text-align: center;
  padding: 2em;
}



.portal {
  margin-top: 3em;
  border: 1px solid black;
  .row {
    margin: auto 0;
    height: 500px;
  }
  .col-sm-4, .col-sm-8, .col-12 {
    padding: 0;
  }
}

.messages-container {
  height: 420px;
 overflow: scroll;
 #messages {
   padding: 2em;
 }
}
.reply-container {
 text-align: center;
}
#reply-input {
  width: 60%;
  display: inline-block;
}


.home-intro-section {
  margin-top: 2em;
  text-align: center;
  h1 {
    font-size: 7em;
    font-family: 'Passion One';
  }
  h3 {
    font-family: "Quicksand";
    margin-bottom: 2em;
  }
}

.signup-form, .signin-form {
  font-family: "Quicksand";
  margin: 3em auto;
  text-align: center;
  width: 50%;
}
