@import "bootstrap";


.food-cart-tile {
  border: 1px solid black;
  padding: 1em;
  margin-bottom: 1em;
}

.conversations {
  height: 100%;
  border: 1px solid black;
  overflow: scroll;
  ul {
    list-style: none;
  }
}

.conversation-tile {
  border: 1px solid black;
  padding: 1em;
  height: 33.33%;
}



.portal {
  margin-top: 5em;
  border: 1px solid black;
  height: 500px;
   .col-md-4 {
     padding: 0;
   }
}
