<h1>Food Carts</h1>

<div class="food-carts">
  <div class="row">
    <% @food_carts.each do |cart| %>
      <div class="col-sm-3">
        <div class="food-cart-tile">
          <%= cart.name %>
        </div>
      </div>
    <% end %>
  </div>
</div>
